body {
	background-color: rgb(255, 115, 194);
	font-family: Arial;
}
.row {
	background-color: white;
	border-color: purple;
	border-style: solid;
	border-width: 0.5rem;
}
.col {
	background-color: white;
	border-color: purple;
	border-style: solid;
	border-width: 0.5rem;
}